@using System.Web.Mvc.Html
@model KladrTask.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <label for="name">Имя пользователя:</label>
    @Html.TextBoxFor(m => m.Name,new {type = "name"})
    <label for="name">Пароль:</label>
    @Html.PasswordFor(m => m.Password, new{type="password"})
    <div id="lower">
        <input type="submit" value="Войти"/>
        @Html.ActionLink("Зарегестрироваться", "Register", "Account")
    </div>
}

