@model KladrTask.WebUI.Models.LetterViewModel

@{
    ViewBag.Title = "LetterViewModel";
}

<div>
    Получатель : @Model.Receiver
    <br/>
    Адрес получателя : @Model.Address
    <br/>
    Почтовый индекс : @Model.Index
    <br/>
    Письмо : @Model.Text
    <br/>
</div>